@import "Styles/variables.scss";

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  margin-right: $common-margin + 1rem;
  grid-template-columns: 42% 29% 29%;
  grid-template-rows: 3.2rem 1fr 2.6rem 7.3rem;
  grid-template-areas:
    "title title title"
    "gauge col col "
    "subtitle subtitle subtitle"
    "ct ct ct";
  border: 1px solid var(--border-primary);
  &:last-of-type {
    margin-right: 0;
  }
}
.item_header {
  grid-area: title;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  color: var(--font-server-title);
  background: var(--bg-server-header);
  border-bottom: 1px solid var(--border-primary);
}
.item_gauge {
  grid-area: gauge;
  width: 100%;
  height: 99%;
  position: relative;
  top: 5%;
}
.item_column {
  grid-area: col;
  margin: 0.5rem;
  height: 94%;
  width: 94%;
  border: 1px solid var(--border-secondary);
}
.item_subtitle {
  grid-area: subtitle;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: var(--font-memory-title);
  font-size: 1.2rem;
  background: var(--bg-server-memory-header);
  border-top: 1px solid var(--border-primary);
  border-bottom: 1px solid var(--border-primary);
  line-height: 2.6rem;
}
.item_content {
  grid-area: ct;
  display: flex;
}
.item_total,
.item_usage,
.item_utilization {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--bg-server-memory-component);
}
.item_usage {
  border-left: 1px solid var(--border-primary);
  border-right: 1px solid var(--border-primary);
}
.memory_title {
  color: var(--font-memory-title);
  font-size: 1.4rem;
}
.memory_data {
  font-size: 2.2rem;
}

@include lowerHeightAtRatio100 {
  .wrapper {
    grid-template-rows: 2.9rem 15.1rem 2.4rem 5.5rem;
  }
  .item_header {
    font-size: 1.3rem;
  }
  .item_subtitle {
    line-height: 2.4rem;
  }
  .memory_title {
    font-size: 1.2rem;
  }
  .memory_data {
    font-size: 2rem;
  }
}

@include lowerHeightatRatio125 {
  .wrapper {
    grid-template-rows: 3rem 16.2rem 2.6rem 6rem;
  }
  .memory_data {
    font-size: 2.1rem;
  }
}
