@import "Styles/variables.scss";
.side__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: skyblue;
}
.sms__center__container{
  height: 100%;
  
}
.sms__center__items {
  display: flex;
  height: 50%;
}
.sms__center__item {
  background-color: skyblue;
  flex: 1;
  font-size: $common-font-size;
}
