@import "Styles/variables.scss";

// Common
.side__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 24.8rem;
  width: 40rem;
  padding: $container-padding;
  margin-bottom: $inner-margin;
  &:last-of-type {
    margin-bottom: 0;
  }
  border: 1px solid var(--border-secondary);
  background-color: var(--bg-component);
  &.nms__chart__container {
    flex-basis: 62rem;
  }
}
.bottom__container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.title__container {
  position: relative;
}
.title__container__button {
  position: absolute;
  right: 0;
  top: -0.3rem;
}
.title__container__button.resource {
  top: -0.5rem;
}

// SMS
.sms__center__container {
  height: 100%;
  padding: $container-padding;
}
.sms__center__items {
  display: flex;
  height: 46%;
  margin-bottom: 2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.sms__center__item {
  flex: 1;
  background-color: var(--bg-component);
  font-size: $common-font-size;
}

// NMS
.nms__border__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 90%;
  margin-top: -0.5rem;
  padding-top: $container-padding;
  border-top: 1px solid var(--border-primary);
}
