@import "Styles/variables.scss";

// Common
.side__container,
.side__grid__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 24.8rem;
  width: 40rem;
  padding: $container-padding;
  margin-bottom: $inner-margin;
  &:last-of-type {
    margin-bottom: 0;
  }
  border: 1px solid var(--border-secondary);
  background-color: var(--bg-component);
  &.nms__chart__container {
    flex-basis: inherit;
  }
}
.side__grid__container {
  padding-bottom: $container-padding - 1.6rem;
}
.title__container {
  position: relative;
}
.title__container__button {
  position: absolute;
  right: 0;
  top: -0.3rem;
}
.title__container__button.resource {
  top: -0.5rem;
}

// SMS
.sms__center__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $container-padding;
}
.sms__center__items {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(48%, auto));
  grid-template-columns: repeat(auto-fill, minmax(49%, auto));
  gap: 1.5rem 1.5rem;
}

// NMS
.nms__center__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $container-padding;
}
.nms__border__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 96%;
  padding-top: $container-padding;
  border-top: 1px solid var(--border-primary);
}
