@import "Styles/variables.scss";

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: $side-margin;
  margin-top: $inner-margin;
}

.top {
  display: flex;
  flex: 5;
  margin-bottom: $inner-margin;
}

.top__side {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top__center {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 0 $inner-margin;
  border: 1px solid var(--border-secondary);
  background-color: var(--bg-component);
}

.bottom {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid var(--border-secondary);
  background-color: var(--bg-component);
}
