@import "Styles/variables.scss";

// 사용률 css
.utilization {
  flex: 1;
  margin-right: $common-margin;
}
.val {
  width: 3rem;
  margin-top: 0.2rem;
  color: var(--font-contents);
  text-align: right;
}
