@import "Styles/variables.scss";

#rankGrid {
  .k-grid-header {
    line-height: 24px;
    th {
      border-width: 0;
    }
  }
  .k-grid-content {
    display: grid;
    grid-template-rows: 1fr;
    font-size: $rank-grid-font-size;
    .k-master-row {
      background-color: transparent !important;
    }
    td {
      border-color: transparent;
      &:is(.no, .utilization) {
        text-align: center;
      }
    }
  }
}
