@import "Styles/variables.scss";

#rankGrid {
  .k-grid-header {
    line-height: 2.9rem;
    & col:nth-of-type(1) {
      width: 3rem;
    }
    & col:nth-of-type(2) {
      width: 10rem;
    }
    & col:nth-of-type(3) {
      width: 10rem;
    }
    th {
      border-width: 0;
    }
  }
  .k-grid-table {
    & col:nth-of-type(1) {
      width: 3rem;
    }
    & col:nth-of-type(2) {
      width: 10rem;
    }
    & col:nth-of-type(3) {
      width: 10rem;
    }
  }
  .k-grid-content {
    display: grid;
    grid-template-rows: 1fr;
    font-size: $rank-grid-font-size;
    .k-master-row {
      background-color: transparent !important;
    }
    td {
      border-color: transparent;
      &:is(.no, .utilization) {
        text-align: center;
      }
    }
  }
}
