@import "Styles/variables.scss";

.alarmGrid {
  .k-grid-header {
    line-height: 2.7rem;
    thead {
      background-color: var(--bg-grid-row-even);
    }
  }
  .k-grid-header col:nth-of-type(1),
  .k-grid-table col:nth-of-type(1) {
    width: 4rem;
  }
  .k-grid-header col:nth-of-type(2),
  .k-grid-table col:nth-of-type(2) {
    width: 16rem;
  }
  .k-grid-header col:nth-of-type(3),
  .k-grid-table col:nth-of-type(3) {
    width: 22rem;
  }
  .k-grid-header col:nth-of-type(4),
  .k-grid-table col:nth-of-type(4) {
    width: 12rem;
  }
  .k-grid-header col:nth-of-type(5),
  .k-grid-table col:nth-of-type(5) {
    width: 27rem;
  }
  .k-grid-header col:nth-of-type(6),
  .k-grid-table col:nth-of-type(6) {
    width: 32rem;
  }
  .k-grid-table {
    border-bottom: 1px solid var(--border-primary);
  }
  .k-grid-content {
    overflow-y: auto;
    td {
      border-color: var(--border-primary);
      &:is(.time, .ip, .no) {
        text-align: center;
      }
      &.alarmseverity {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }
  }
  .k-master-row {
    background-color: var(--bg-grid-row-odd);
    line-height: 3rem;
    &.k-alt {
      background-color: var(--bg-grid-row-even);
    }
  }
  .k-grid-norecords {
    height: 15rem;
  }
}

@include atRatio125 {
  .alarmGrid {
    .k-master-row {
      line-height: 3.5rem;
    }
    .k-grid-norecords {
      height: 16.9rem;
    }
  }
}

@include lowerHeightatRatio125 {
  .alarmGrid {
    .k-master-row {
      line-height: 2.8rem;
    }
    .k-grid-norecords {
      height: 13.7rem;
    }
  }
}
