@import "Styles/variables.scss";

#alarmGrid {
  .k-grid-header {
    line-height: 24px;
  }
  .k-grid-container {
    .k-master-row {
      background-color: var(--bg-grid-row-odd);
      line-height: 24px;
    }
    .k-master-row.k-alt {
      background-color: var(--bg-grid-row-even);
    }
    td {
      border-color: var(--border-primary);
      &:is(.time, .ip) {
        text-align: center;
      }
    }
  }
}
