@import "Styles/variables.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-dimmer);
}

.modal {
  width: 59.5rem;
  height: 78.8rem;
  background-color: var(--bg-modal);
  border-radius: 6px;
  border: var(--border-modal-wrapper);
  box-shadow: var(--shadow-modal-wrapper);
}

.header {
  position: relative;
}

.title {
  padding: $container-padding 0;
  color: var(--font-modal-header);
  text-align: center;
  font-size: 2.3rem;
}

.tree {
  overflow-y: auto;
  height: 49rem;
  padding: $container-padding * 1.4 $container-padding * 1.8;
  border: 1px solid var(--border-modal);
  border-width: 1px 0;
  font-size: 1.2rem;
}

.footer {
  padding: $container-padding * 1.4 $container-padding * 1.8;
}

.selected__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $title-margin-bottom;
  color: var(--color-primary);
  font-size: 1.7rem;
}

.selected__header__noti {
  opacity: 0;
  color: var(--color-warning);
  font-size: 1.5rem;
  font-weight: normal;
  transition: opacity 0.2s ease-in-out;
}
.selected__header__noti.visible {
  opacity: 1;
}

.selected__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.4rem;
  padding: 0 $common-padding * 1.5 0 $common-padding * 2;
  background-color: var(--bg-modal-selected-box);
  border-radius: 3px;
  color: var(--font-modal-selected);
  font-size: 1.5rem;
  line-height: 5.4rem;
}

.selected__text {
  display: flex;
  max-width: 88%;
  margin-right: $common-margin;
  white-space: nowrap;
}

.selected__text__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0.2rem;
}

.buttons {
  display: flex;
  padding-top: $container-padding * 1.4;
}
