@font-face {
  font-family: "Kopub Dotum";
  src: url("../assets/fonts/KoPubDotum/KoPubDotumLight.woff") format("woff");
  -webkit-font-smoothing: antialiased;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;  
  @media only screen and (-webkit-device-pixel-ratio: 1.25) {
    font-size: 46.8%;
  }
  @media only screen and (-moz-device-pixel-ratio: 1.25) {
    font-size: 46.8%;
  }
}

body {
  font-family: "KoPub Dotum";
  font-weight: bold;
  background-color: var(--bg-container);
}

div#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 1200px;
  color: var(--font-contents);
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--grid-scrollbar);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--grid-scrollbar-hover);
}
::-webkit-scrollbar-track {
  background-color: var(--bg-grid-scrollbar) !important;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  width: 0px;
  height: 0px;
  background: transparent;
}

ul,
ol {
  list-style: none;
}
