:root {
  // Common
  --color-primary: #2988e6;
  --color-critical: #e84d3e;
  --color-warning: #ed9352;
  --color-attention: #f6cf66;
  --color-white: #ffffff;
  --color-navy: #1b2e68;
  --color-gray: #babecc;
  --color-modal: #5f698d;

  // Font
  --font-contents: var(--color-navy);
  --font-contents-bold: #062c5e;
  --font-active: var(--color-primary);
  --font-header: var(--color-navy);
  --font-header-title: var(--color-navy);
  --font-header-mode: var(--color-gray);
  --font-component-title: var(--color-white);
  --font-configuration-totalCount-title: #191b20; // 구성현황
  --font-configuration-totalCount: var(--color-navy);
  --font-configuration-updownCount-title: var(--color-navy);
  --font-configuration-updownCount: var(--color-navy);
  --font-server-title: var(--color-navy); // 서버운영현황
  --font-memory-title: #191b20;
  --font-modal-header: var(--color-modal); // 리소스 선택 모달
  --font-modal-close: var(--color-modal);
  --font-modal-content: var(--color-navy);
  --font-modal-selected: var(--color-modal);
  --font-modal-cancel: var(--color-modal);
  --icon-modal: #5aa954;
  --icon-modal-expanded: var(--color-modal);
  --icon-modal-collapsed: var(--color-gray);
  --font-label-traffic: #575b5d; // 차트
  --font-label-bar: var(--color-navy);

  // Background
  --bg-container: #e0e3ed;
  --bg-component: var(--color-white);
  --bg-construction-inner: #f8f9fb; // 구성현황
  --bg-construction-hex: #e7eaf0;
  --bg-server-header: #fafbfc; // 서버운영현황
  --bg-server-memory-header: var(--color-white);
  --bg-server-memory-component: #f8f9fb;
  --bg-dimmer: #aeb3c660; // 리소스 선택 모달
  --bg-modal: var(--color-white);
  --bg-modal-selected-box: #eef1f4;
  --bg-modal-selected-btn-hover: #2677c8;
  --bg-checkbox: var(--color-primary);
  --bg-checkbox-some: #96c3f0;
  --bg-grid-row-odd: #f8f9fb; // 그리드
  --bg-grid-row-even: var(--color-white);
  --bg-grid-scrollbar: var(--border-primary);
  --bg-grid-scrollbar-hover: var(--font-contents);
  --bg-grid-scrollbar-track: var(--bg-component);
  --bg-progress: #e2e6ed;

  // Border
  --border-primary: var(--color-gray); // 선명
  --border-secondary: #d9ddea; // 흐릿
  --border-active: var(--color-primary);
  --border-modal: var(--color-gray); // 리소스 선택 모달
  --border-modal-wrapper: 0;
  --shadow-modal-wrapper: 0px 3px 6px #00000029;
  --border-checkbox: #6b757e;

  // Chart - Area(트래픽)
  --line-traffic-xAxis: #ccd6eb;
  --line-traffic-yAxis-grid: #e6e6e6;
  --line-traffic-rx: #02bcd5;
  --line-traffic-tx: #506cf6;
  --area-traffic-rx: var(--line-traffic-rx);
  --area-traffic-tx: var(--line-traffic-tx);
}

.theme-dark {
  // Font
  --font-contents: #b3b4b5;
  --font-contents-bold: var(--color-white);
  --font-active: var(--color-primary);
  --font-header: #b3b4b5;
  --font-header-title: var(--color-white);
  --font-header-mode: #b3b4b5;
  --font-component-title: var(--color-white);
  --font-configuration-totalCount-title: #b3b4b5; // 구성현황
  --font-configuration-totalCount: #ffffff;
  --font-configuration-updownCount-title: #9a9b9b;
  --font-configuration-updownCount: #b3b4b5;
  --font-server-title: #e3e6e6; // 서버운영현황
  --font-memory-title: #b3b4b5;
  --font-modal-header: var(--color-white); // 리소스 선택 모달
  --font-modal-close: var(--color-modal);
  --font-modal-content: #e3e6e6;
  --font-modal-selected: var(--font-contents);
  --font-modal-cancel: #9a9b9b;
  --icon-modal: #5aa954;
  --icon-modal-expanded: var(--color-gray);
  --icon-modal-collapsed: var(--color-modal);
  --font-label-traffic: #575b5d; // 차트
  --font-label-bar: #9a9b9b;

  // Background
  --bg-container: #080808;
  --bg-component: #191919;
  --bg-construction-inner: #191919; // 구성현황
  --bg-construction-hex: #262626;
  --bg-server-header: #262626; // 서버운영현황
  --bg-server-memory-header: #1f1f1f;
  --bg-server-memory-component: #1f1f1f;
  --bg-dimmer: #1f212290; // 리소스 선택 모달
  --bg-modal: #242527;
  --bg-modal-selected-box: #343435;
  --bg-checkbox: var(--color-primary);
  --bg-checkbox-some: #96c3f0;
  --bg-grid-row-odd: #191919; // 그리드
  --bg-grid-row-even: #262626;
  --bg-grid-scrollbar: var(--border-primary);
  --bg-grid-scrollbar-hover: var(--font-contents);
  --bg-grid-scrollbar-track: var(--bg-component);
  --bg-progress: #414142;

  // Border
  --border-primary: #303030; // 선명
  --border-secondary: #262626; // 흐릿
  --border-active: var(--color-primary);
  --border-modal: var(--color-modal); // 리소스 선택 모달
  --border-modal-wrapper: 1px solid var(--color-modal);
  --shadow-modal-wrapper: none;
  --border-checkbox: #6b757e;

  // Chart - Area(트래픽)
  --line-traffic-xAxis: #4c4c4c;
  --line-traffic-yAxis-grid: #4c4c4c;
  --line-traffic-rx: #43ffb7;
  --line-traffic-tx: #26b4ff;
  --area-traffic-rx: var(--line-traffic-rx);
  --area-traffic-tx: var(--line-traffic-tx);
}
