// Size
$common-padding: 1rem;
$common-margin: 1rem;
// Size - Container
$side-margin: 1.5rem;
$inner-margin: 0.7rem;
$container-padding: 2rem;
// Size - Component
$header-height: 56px;
$title-margin-bottom: 1.5rem;

// Font Size
$common-font-size: 1rem;
$header-font-size: 1.5rem;
$grid-font-size: 1.15rem;
$rank-grid-font-size: 1.35rem;
