@import "Styles/variables.scss";

.header {
  display: flex;
  padding: $common-padding;
  background-color: var(--bg-component);
  color: var(--font-contents);
  font-size: $common-font-size;
}
.tab {
  flex: 1;
}
.logo {
  flex: 1;
}
.clock {
  flex: 0.3;
}
.mode {
  flex: 0.3;
}
