@import "Styles/variables.scss";

.header {
  position: relative;
  display: flex;
  height: $header-height;
  margin: $side-margin;
  margin-bottom: 0;
  background-color: var(--bg-component);
  border: 1px solid var(--border-secondary);
  color: var(--font-header);
  font-size: $header-font-size;
  line-height: $header-height;
}

.logo {
  width: 100%;
  color: var(--font-header-title);
  text-align: center;
  font-size: $common-font-size * 2.1;
}

.utils {
  position: absolute;
  right: 0;
  display: flex;
}

.mode {
  width: 12rem;
  color: var(--font-header-mode);
  text-align: center;
  font-size: $common-font-size;
}

.mode__text {
  margin-left: $common-margin * 0.5;
}

@include atRatio125 {
  .header {
    height: 6.2rem;
    line-height: 6.2rem;
  }
}

@include lowerHeightatRatio125 {
  .header {
    height: 5.4rem;
    line-height: 5.4rem;
  }
}
