@import "Styles/variables.scss";
.header {
  display: flex;
  padding: $common-padding;
  font-size: $common-font-size;
  background-color: orange;
}
.tab {
  flex: 1;
}
.logo {
  flex: 1;
}
.clock {
  flex: .3;
}
.mode {
  flex: .3;
}


