@import "Styles/variables.scss";

.wrapper {
  height: 100%;
  min-height: 12rem;
  display: flex;
  justify-content: space-between;
  min-height: 13rem;
  padding: 2rem 3rem;
  border: 1px solid var(--border-primary);
  background-color: var(--bg-server-memory-component);
}
//이미지, 타이틀
.left_wrapper {
  flex: 0 0 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  width: 6.9rem;
  height: 100%;
  max-height: 8rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.image.server_light {
  background-image: url(/src/assets/images/server-icon-white.png);
}
.image.server_dark {
  background-image: url(/src/assets/images/server-icon-dark.png);
}
.image.network_light {
  background-image: url(/src/assets/images/network-icon-white.png);
}
.image.network_dark {
  background-image: url(/src/assets/images/network-icon-dark.png);
}
.title {
  margin-top: $common-margin;
  color: var(--color-primary);
  font-size: $common-font-size + 0.6rem;
}
//총장비수, UP, DOWN
.right_wrapper {
  flex: 0 0 18.4rem;
  display: flex;
  flex-direction: column;
  .total_count_wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-primary);
    .count_title {
      font-size: $common-font-size + 0.6rem;
      color: var(--font-configuration-totalCount-title);
    }
    .count_number {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      font-size: $common-font-size + 1.7rem;
      color: var(--font-configuration-totalCount);
    }
  }
  .updown_count {
    flex: 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-primary);
    .updown_title {
      font-size: $common-font-size + 0.3rem;
      color: var(--font-configuration-updownCount-title);
    }
    .updown_number {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      font-size: $common-font-size + 0.5rem;
      color: var(--font-configuration-updownCount);
    }
  }
}

@include lowerHeightAtRatio100 {
  .image {
    max-height: 5.7rem;
  }
  .right_wrapper .total_count_wrapper .count_number {
    font-size: 2.4rem;
  }
  .title {
    font-size: 1.4rem;
  }
}

@include lowerHeightatRatio125 {
  .image {
    max-height: 6.5rem;
  }
  .right_wrapper .total_count_wrapper .count_number {
    font-size: 2.5rem;
  }
}
